<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${cabecera}"></h1>
	<p th:unless="${animales.size() != 0}">No hay animales mostrar</p>
	<table border="1"  th:if="${animales.size() != 0}">
		<thead>
			<tr>
				<th>Id</th>
				<th>Tipo</th>
				<th>Color</th>
				<th>Peso</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="animal: ${animales}">
				<td th:text="${animal.id}"></td>
				<td th:text="${animal.tipo}"></td>
				<td th:text="${animal.color}"></td>
				<td th:text="${animal.peso}"></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/}">Ir a Home</a>
	<br />
	<a th:href="@{/animal/mostrar-lista}">Ir a la lista de animales</a>
	<br />
	<a th:href="@{/animal/mostrar-uno}">Ir a un animale</a>
	<br />
	<a th:href="@{/animal/id/1}">Ir a la animale con id 1</a>
	<br />
	<a th:href="@{/animal/id/2}">Ir a la animale con id 2</a>
	<br />
	<a th:href="@{/animal/id/3}">Ir a la animale con id 3</a>
	<br />
	<a th:href="@{/animal/id/4}">Ir a la animale con id 4</a>
	<br />
	<a th:href="@{/animal/tipo/perro}">Ir a la lista de perros</a>
	<br />
	<a th:href="@{/animal/tipo/gato}">Ir a la lista de gatos</a>
	<br />
	<a th:href="@{/animal/tipo/oso}">Ir a la lista de osos</a>
	<br />
	<a th:href="@{/animal/perro/mayorque/1}">Ir a la lista de perros mayorque 1</a>
	<br />
	<a th:href="@{/animal/gato/mayorque/1}">Ir a la lista de gatos mayorque 1</a>
	<br />
	<a th:href="@{/animal/oso/mayorque/1}">Ir a la lista de osos mayorque 1</a>
</body>
</html>