<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1>Generador de combinaciones de loto</h1>
	<a th:href="@{/loto/genera/49/6/spain}">Loto española (6 de 49)</a>
	<br />
	<a th:href="@{/loto/genera/49/6/germany}">Loto alemana (6 de 49)</a>
	<br />
	<a th:href="@{/loto/genera/90/6/france}">Loto francesa (6 de 90)</a>
	<br />
	<a th:href="@{/loto/genera/59/5/italy}">Loto italiana (5 de 59)</a>
	<br />
	<br />
	<a th:href="@{/}">Volver al home</a>
</body>
</html>
